.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    background-color: $main-color;
    padding: 20px;
}

.main_header {
    background-color: $main-color;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.main-header__block {
    display: flex;
    justify-content: space-between;
}

p {
    color: $gren-color;
}