.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.main_header {
    background-color: $main-color;
}

.main-header__block {
    display: flex;
    justify-content: space-between;
}

p {
    color: green;
}